:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  overflow: hidden;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
